  @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Montserrat:wght@300&family=Raleway:wght@300&family=Roboto+Mono&display=swap');

/* For Webkit based browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
    cursor: pointer;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #b4b0b0; /* Set the color of the scrollbar thumb */
    border-radius: 5px; /* Set the border radius of the scrollbar thumb */
  }

html, body {    
    margin: 0;
    padding: 0;
    background: url(../public/background-pattern.jpg);
    background-repeat: repeat;
    /* background-size: cover; */
}

.Header {
    display: grid;
    place-items: center;
    height: 40px;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background-color: #9db2bf7b;
}

.toggle-button {
    position: absolute;
    margin-left: 100%;
    margin-top: 50%;
    height: 52px;
    border: none;
    background: none;
    background-color: #95f492;
    border-radius: 20px;
}

.toggle-button:hover {
    background-color: #15ff00dd;
}

.toggle-button:active {
    background-color: #3F979B;
}

.Sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 90%;
    width: 40%;
    min-width: 400px;
    min-height: 400px;
    font-family: 'Roboto Mono', monospace;
    transition: transform 0.5s ease;
}

.Sidebar.close {
    transform: translateX(-100%);
}

.Dark {
    background-color: #395174;
}

.Light {
    background-color: #c5d3dc5b;
}

.chat-header {
    display: flex;
    /* flex: 0.05 */
    height: 35px;
    align-self: flex-start;
    width: 100%;
    background-color: #95f492;
}

.name {
    flex: 0.9;
    text-align: center;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Inconsolata', monospace;
    font-size: large;
    outline: none;
    border: none;
    background-color: #95f49200;
}

.chat-header button {
    flex: 0.1;
    display: grid;
    place-items: center;
    outline: none;
    border: none;
    background-color: #95f49200;
}

.chat-header button:hover {
    background-color: #ffffffc3;
}

.chat-messages {
    display: flex;
    flex: 1;
    justify-self: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 15px;
    overflow-y: auto;
    /* border: 1px solid red; */
}

.Message {
    display: flex;
    margin: 15px 10px 0;
    font-weight: bold;
}

.self {
    display: flex;
    flex-direction: column;
    color: blue;
    margin-left: auto;
    padding: 1px 6px 0 10px;
    color: #377D71;
    background-color: #DDE6ED;
    border-radius: 10px;
}

.other {
    display: flex;
    flex-direction: column;
    padding: 1px 6px 0 10px;
    color: #eb2222;
    /* background-color: #9DB2BF; */
    background-color: #ddc4c9;
    border-radius: 10px;
}

.title-name {
    text-align: left;
    height: 15px;
    padding: 2px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: smaller;
    font-weight: bold;
}

.message {
    padding: 8px 20px 10px;
    max-width: 300px;
    overflow-wrap: break-word;
    font-family: 'Raleway', sans-serif;
    font-size: medium;
    font-weight: bolder;
    color: #270585;
}

code {
    color: black;
    background-color: #6f93957b;
}

.time-stamp {
    text-align: right;
    height: 20px;
    font-size: small;
    font-family: 'Inconsolata', monospace;
    color: #52486f;
}

.input {
    display: flex;
    height: 46px;
    padding: 15px 0;
    justify-content: space-around;
    background-color: #0000008e;
    width: 100%;
}

.input textarea {
    flex: 0.85;
    box-sizing: border-box;
    resize: none;
    padding: 7px 6px 6px;
    padding-left: 25px;
    line-height: 30px;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
    outline: none;
    border: none;
    border-radius: 20px;
    /* background-color: #ffe6ab; */
    background-color: #C6EBC5;
}

.input textarea::placeholder {
    color: rgba(0, 0, 0, 0.34);
}

.input button {
    display: grid;
    place-items: center;
    flex: 0.1;
    /* width: 20%; */
    height: 100%;
    /* border-radius: 0 70px 70px 0; */
    border-radius: 20px;
    border: none;
    background: none;
    background-color: #95f492;
}

.input button:hover {
    background-color: #15ff00dd;
}

.input button:active {
    background-color: #3F979B;
}
